<title>Fritter v2.0</title>
<!-- javascript -->
<!-- external -->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="ejs/ejs.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!-- internal -->
<script src="MessageFilter.js" type="text/javascript"></script>
<script src="fritter.js" type="text/javascript"></script>

<!-- css -->
<!-- external -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
<!--internal -->
<link rel="stylesheet" href="fritter.css">