<!-- Message Modal -->
<div class="modal fade" id="message-modal" tabindex="-1" role="dialog" aria-labelledby="message-modal-label">
	<div class="modal-dialog modal-sm" role="document" style="width:75%">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="message-label">Message</h4>
			</div>
			<div class="modal-body">
				<div id="users-chatlist" class=".col-md-8"></div>
				<ul id="messages" class=".col-md-4"></ul>
				<form id="message-form" style="text-align: center">
					<input id="message-content" autocomplete="off"/>
					<button id="message-send">Send</button>
					<button id="message-clear">Clear</button>
				</form>
			</div>
		</div>
	</div>
</div>