<div id = "request-tags" style="font-size:16px">
	Tags:
	<% if (request.tags.length > 0) { %>
		<% request.tags.forEach(function(tag){ %>
		<a> <%= tag%> </a>
		<% }); %>
	<% } else { %>
		<i>n/a</i>
	<% } %>
</div>