<div class="request-body" style="padding:10px;">
	<div class="request-desc-bar">
		Description: <%= request.description %>
	</div> 
	<div class="request-rewards-bar" style="margin-top:5px">
		Rewards: $<%= request.reward %>
	</div>
</div>