<html>
<head>
	<% include header.ejs %>
</head>

<body class="gray-background">
	<div id="background-container">
		<% include navbar.ejs %>
		<% include request_form.ejs %>
		<% if (userProfile) { %>
			
			

		<% } else { %>
			<% include loginmodal %>
			<h1 id="login-message"> Please login or signup to use this app </h1>
		<% } %>
	<div>
</body>
</html>