<html>
<head>
	<% include header.ejs %>
</head>

<body class="gray-background">
	<div id="background-container">
		<% if (userProfile) { %>
			<% var requestsPage = true %>
			<% include request_header.ejs %>
			<% include request_body.ejs %>
			<% include request_tags.ejs %>
			<% include request_footer.ejs %>

			<% include messagemodal.ejs %>
			<% include reviewmodal.ejs %>
			<% include iframemodal.ejs %>
		<% } %>
	<div>
</body>
</html>