<div class="modal fade" id="createRequestModal" tabindex="-1" role="dialog" aria-labelledby="createRequestLabel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">New Request</h4>
			</div>
			<div class="modal-body">
				<form id="request-form">
					<label for"requestTitle">Title:</label>
					<input type="text" name="requestTitle" id="request-title" class="form-control" placeholder="Enter a title" required style="width:50%"></input>
					<br>
					<label for"requestExpires">Expiration Date:</label>
					<input type="text" name="requestExpires" id="request-expires" class="form-control" placeholder="Enter an expiration date" required style="width:50%"></input>
					<br>
					<label for"requestExpiresTime">Expiration Time (optional):</label>
					<input name="requestExpiresTime" id="request-expires-time" class="form-control" placeholder="Enter an expiration time" style="width:50%"></input>
					<br>
					<label for"requestDesc">Description:</label>
					<input type="text" name="requestDesc" id="request-desc" class="form-control" placeholder="Enter a description" required style="width:50%"></input>
					<br>
					<label for"requestRewards">Rewards:</label>
					<input type="text" name="requestRewards" id="request-rewards" class="form-control" data-toggle="tooltip" data-placement="right" title="Please enter a numerical amount" placeholder="Enter a monetary reward (USD)" required style="width:50%"></input>
					<br>
					<label for"requestTags">Tags (optional):</label>
					<input type="text" name="requestTags" id="request-tags" class="form-control" data-toggle="tooltip" data-placement="right" title="Separate tags by commas (not spaces!)" placeholder="Enter tag(s) (e.g. tag1, tag2)" style="width:50%"></input>
					<br>
					<button type="submit" class="btn btn-primary">Submit</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				</form>
			</div>
			<div class="modal-footer">
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->