<script src="../../utils.js" type="text/javascript"></script>
<div style="text-align:center">
	
	<div>
		<p style="font-size:50px"><font face = "Arial"> Your payment has <%= status%>. </font></p>
	</div>
<div>
	<a  href = '#' id="homeButton" onclick="goHome()" style="font-size:30px" ><font face = "Arial">Return to home page.</font></a>
</div>
</div>