<script src="../../utils.js" type="text/javascript"></script>
<div style="text-align:center">
	
	<div>
		<p> Your payment has <%= status%>! </p>
	</div>
<div>
	<button class="btn btn-default" id="homeButton" onclick="goHome()" >Return to home page.</button>
</div>
</div>